
  :root {
    --accent-color: white;
    --text-color: #f0f4f5;
    --background-color: black;
}
  
  .body {
    margin: 0;
    font-family: 'Montserrat';}
  
  a {
    text-decoration: none;
    color: var(--text-color);}
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: cen;
    background-color: var(--background-color);
    padding: 8px 12px;}

    .nav_logo {
        font-size: 24px;
        color: var(--text-color);}
      
      .nav_logo i {
        color: var(--accent-color);}
      
      .nav_logo span {
        color: var(--accent-color);}
      
      .nav_menu {
        display: flex;
        list-style: none;
        padding-left: 0;}
      
      .nav_menu li {
        padding: 8px 12px;}
      
      .nav_menu li:hover {
        color: var(--background-color);
        background-color: var(--accent-color);
        border-radius: 4px;}
      
      .nav_menu li a:hover {
        color: var(--background-color);}
      
      .nav_icons {
        display: flex;
        color: #7dc0ff;
        list-style: none;
        padding-left: 0;}
      
      .nav_icons li {
        padding: 8px 5px;}
      
      .navbar_toggleBtn {
        display: none;
        color:var(--text-color);
        position: absolute;
        right: 32px;
        font-size: 24px;}
        
    ul {
          display: table;
          margin-left: auto;
          margin-right: auto;
        }
  
        img {
            width: 100%; 
            height: auto;
          }
          h2 {
            margin-bottom: .5em;
          }
          .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 1em;
          }
          
          
          /* hover styles */
          .location-listing {
            position: relative;
          }
          
          .location-image {
            line-height: 0;
            overflow: hidden;
          }
          
          .location-image img {
            filter: blur(0px);
            transition: filter 0.3s ease-in;
            transform: scale(1.1);
          }
          
          .location-title {
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: none;
            z-index: 1;
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity .5s;
            background: rgba(90,0,10,0.4);
            color: white;
            
            
            display: flex;
            align-items: center;
            justify-content: center;
          }
          
          .location-listing:hover .location-title {
            opacity: 1;
          }
          
          .location-listing:hover .location-image img {
            filter: blur(2px);
          }
          
          
          /* for touch screen devices */
          @media (hover: none) { 
            .location-title {
              opacity: 1;
            }
            .location-image img {
              filter: blur(2px);
            }
          }
        h2 {
            text align: center;
        }

        audio {
            filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
            width: 200px;
            height: 25px;
        }