:root {
    --accent-color: white;
    --text-color: #f0f4f5;
    --background-color: black;
}
  
  .body {
    margin: 0;
    font-family: 'Montserrat';}
  
  a {
    text-decoration: none;
    color: var(--text-color);}
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;}

    .nav_logo {
        font-size: 24px;
        color: var(--text-color);}
      
      .nav_logo i {
        color: var(--accent-color);}
      
      .nav_logo span {
        color: var(--accent-color);}
      
      .nav_menu {
        display: flex;
        list-style: none;
        padding-left: 0;}
      
      .nav_menu li {
        padding: 8px 12px;}
      
      .nav_menu li:hover {
        color: var(--background-color);
        background-color: var(--accent-color);
        border-radius: 4px;}
      
      .nav_menu li a:hover {
        color: var(--background-color);}
      
      .nav_icons {
        display: flex;
        color: #7dc0ff;
        list-style: none;
        padding-left: 0;}
      
      .nav_icons li {
        padding: 8px 5px;}
      
      .navbar_toggleBtn {
        display: none;
        color:var(--text-color);
        position: absolute;
        right: 32px;
        font-size: 24px;}
        
        ul {
            display: table;
            margin-left: auto;
            margin-right: auto;
          }

    li {
        list-style-type: none;
    
    }
    #contents {
        width: 1140px;
        margin: 0 auto;
    }
    #sub_menu {
        width: 240px;
        float: left;
        margin-top: 25px;
        margin-left: 5px;
        
        border: solid 1px ;
    }
    #sub_menu h3 {
        font-size: 18px;
        color: black;
        padding: 15px;
        background-color: black;
        color: white;
        text-align: center;
    }

    #sub_menu li {
        padding: 10px;
        border-bottom: dotted 1px #cccccc;
        margin-left: -45px;
    }

    #main_contents {
        width: 880px;
        float: right;
        margin-top: 25px;
        border: solid 1px;
    }

    #main_contents h3 {
        font-size: 22px;
        padding-bottom: 8px;
        border-bottom: solid 1px #cccccc;
        text-align: center;
    }

    #main_contents p {
        margin-top: 30px;
        line-height: 180%;
        text-align: center;
    }

    #main_contents #figure {
        margin-top: 30px;
        text-align: center;
    }

    #main_contents li {
        padding: 5px;
    }

    a {
        text-decoration: none;
      }
    .title > a {
        color: black;
      }
       
 